# Frontend will bake these values at build time.
# Set them to the URLs where the services are accessible from the browser.
REACT_APP_API_URL=http://localhost:5000/api
REACT_APP_INGESTION_URL=http://localhost:5001/ingest
